<html>
    <head>
      <title>Flow Arena Scoreboard</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.1.2/material.min.js"></script>

    </head>
    <body style="overflow:visible; margin:0;">

<h1>{{ players }} {{ scores }} </h1>

      <table width=100% class="mdl-data-table mdl-js-data-table mdl-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th class="mdl-data-table__cell--non-numeric">Player</th>
            <th>Color</th>
            <th>Kills</th>
            <th>Deaths</th>
          </tr>
        </thead>
        <tbody>
          {% for score in scores %}
          <tr>
            <td class="mdl-data-table__cell--non-numeric">PLAYER {{ score.id }}</td>
            <td>{{ score.kills }}</td>
            <td>{{ score.deaths }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
    </body>
</html>
